* {
    -fx-font-family: Arial;
}

.btn-primary {
    -fx-background-color: #051C48;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
}

.btn-primary:hover {
    -fx-background-color: #092B6C;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
}

.btn-success {
    -fx-background-color: #28A745;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
}

.btn-success:hover {
    -fx-background-color: #24983E;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
}

.btn-danger {
    -fx-background-color: #C80C0F;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
}

.btn-danger:hover {
    -fx-background-color: #E01014;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
}

.btn-warning {
    -fx-background-color: #FCDD17;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
}

.btn-warning:hover {
    -fx-background-color: #E3C713;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
}

.crud {
    -fx-font-size: 16px !important;
}

/* Style pour les en-têtes de colonnes */
.table-view .column-header {
    -fx-background-color: #051C48;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
}

/* Style pour les en-têtes de colonnes au survol */
.table-view .column-header:hover {
    -fx-background-color: #d0d0d0; /* Couleur de fond au survol */
}

/* Style pour les cellules de la table */
.table-view .table-cell {
    -fx-padding: 10px;
}

/* Style pour les cellules sélectionnées */
.table-view .table-row-cell:selected {
    -fx-background-color: #cce0ff; /* Couleur de fond des cellules sélectionnées */
}
