* {
    -fx-font-family: Arial;
}

.btn-primary {
    -fx-background-color: #051C48;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

.btn-primary:hover {
    -fx-background-color: #092B6C;
}

.btn-success {
    -fx-background-color: #28A745;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

.btn-success:hover {
    -fx-background-color: #24983E;
}

.btn-danger {
    -fx-background-color: #C80C0F;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

.btn-danger:hover {
    -fx-background-color: #E01014;
}

.btn-warning {
    -fx-background-color: #FCDD17;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

.btn-warning:hover {
    -fx-background-color: #E3C713;
}

.crud {
    -fx-font-size: 16px !important;
}

/* Style pour les en-têtes de colonnes */
.table-view .column-header-background {
    -fx-background-color: #051C48;
}

.table-view .column-header {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
}

/* Style pour les en-têtes de colonnes au survol */
.table-view .column-header:hover {
    -fx-background-color: #092B6C; /* Couleur de fond au survol */
}

/* Style pour les cellules de la table */
.table-view .table-cell {
    -fx-padding: 10px;
}

.text {
    -fx-font-size: 16px;
    -fx-text-alignment: center;
}

.h1 {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.right {
    -fx-text-align: right;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.text-area-left {
    -fx-text-alignment: left;
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-alignment: right;
    -fx-padding: 0 10 0 0;
}
